.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about .profile {
  min-width: 200px;
  max-width: 400px;
}
.profile img {
  border-radius: 50%;
  border: 3px solid black;
}
.about .about-text {
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction:column;
  text-align: left;
}
.socials{
  display: flex;
  flex-direction: row;
}

.social{
  margin: 5px;
  
}
.social a img{
  padding-top: 2px;
  width: 45px;
}